.containerSlide{
    padding: 0 !important;
    margin: 0 !important;
    width: 85%;
    height: 65%;
    position: relative;
    left: 7.5%;
    top: 5vh;   
  }
  .containerSlide img{
    position: relative;
    top: 2vh;
    height:60vh;
    width:100%;
  }